# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [21]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [3]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Washington,US,47.5001,-120.5015,30.58,85,23,5.30,few clouds
1,1,Carnarvon,AU,-24.8667,113.6333,72.01,65,0,23.53,clear sky
2,2,Kropotkin,RU,45.4375,40.5756,49.93,69,100,9.28,overcast clouds
3,3,Rikitea,PF,-23.1203,-134.9692,73.71,82,97,6.24,overcast clouds
4,4,Geraldton,AU,-28.7667,114.6000,72.01,56,0,20.71,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:
# Prompt the user to enter the minimum temperature criteria
min_temp = min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [7]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
10,10,Abong Mbang,CM,3.9833,13.1833,88.38,35,28,2.59,scattered clouds
12,12,Puri,IN,19.8000,85.8500,84.72,41,6,5.30,clear sky
16,16,Mana,GF,5.6592,-53.7767,76.42,90,73,6.87,broken clouds
20,20,Vaini,TO,-21.2000,-175.2000,77.16,94,40,2.30,scattered clouds
21,21,Faanui,PF,-16.4833,-151.7500,78.26,75,75,15.95,broken clouds
24,24,Shahdadkot,PK,27.8477,67.9055,85.44,11,80,2.19,broken clouds
26,26,Windhoek,NaN,-22.5594,17.0832,88.29,21,20,5.75,few clouds
27,27,Butaritari,KI,3.0707,172.7902,81.14,77,69,9.22,broken clouds
32,32,Chimoio,MZ,-19.1164,33.4833,84.06,61,40,3.44,scattered clouds
36,36,Mahebourg,MU,-20.4081,57.7000,82.69,61,40,11.50,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [12]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna(axis="index", how="any")
# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
10,10,Abong Mbang,CM,3.9833,13.1833,88.38,35,28,2.59,scattered clouds
12,12,Puri,IN,19.8000,85.8500,84.72,41,6,5.30,clear sky
16,16,Mana,GF,5.6592,-53.7767,76.42,90,73,6.87,broken clouds
20,20,Vaini,TO,-21.2000,-175.2000,77.16,94,40,2.30,scattered clouds
21,21,Faanui,PF,-16.4833,-151.7500,78.26,75,75,15.95,broken clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [15]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]]

# Display sample data
hotel_df.head(10)

           City Country  Max Temp Current Description      Lat       Lng
10  Abong Mbang      CM     88.38    scattered clouds   3.9833   13.1833
12         Puri      IN     84.72           clear sky  19.8000   85.8500
16         Mana      GF     76.42       broken clouds   5.6592  -53.7767
20        Vaini      TO     77.16    scattered clouds -21.2000 -175.2000
21       Faanui      PF     78.26       broken clouds -16.4833 -151.7500
24   Shahdadkot      PK     85.44       broken clouds  27.8477   67.9055
27   Butaritari      KI     81.14       broken clouds   3.0707  172.7902
32      Chimoio      MZ     84.06    scattered clouds -19.1164   33.4833
36    Mahebourg      MU     82.69    scattered clouds -20.4081   57.7000
43       Kalabo      ZM     86.81     overcast clouds -14.9700   22.6814

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [18]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Abong Mbang,CM,88.38,scattered clouds,3.9833,13.1833,
12,Puri,IN,84.72,clear sky,19.8000,85.8500,
16,Mana,GF,76.42,broken clouds,5.6592,-53.7767,
20,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,
21,Faanui,PF,78.26,broken clouds,-16.4833,-151.7500,
24,Shahdadkot,PK,85.44,broken clouds,27.8477,67.9055,
27,Butaritari,KI,81.14,broken clouds,3.0707,172.7902,
32,Chimoio,MZ,84.06,scattered clouds,-19.1164,33.4833,
36,Mahebourg,MU,82.69,scattered clouds,-20.4081,57.7000,
43,Kalabo,ZM,86.81,overcast clouds,-14.9700,22.6814,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [19]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [22]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping the city.")
        hotel_df.loc[index, "Hotel Name"] = np.nan

Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.

In [23]:
# Display sample data
params

{'radius': 5000,
 'type': 'lodging',
 'key': 'AIzaSyC6GBxMKObNY6R-tU2u3Y5x2dxj1M_1Mq8',
 'location': '1.4451,125.1824'}

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [24]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Abong Mbang,CM,88.38,scattered clouds,3.9833,13.1833,Auberge Angle Sur
12,Puri,IN,84.72,clear sky,19.8000,85.8500,OYO 1577 Hotel Shree Hari Grand
16,Mana,GF,76.42,broken clouds,5.6592,-53.7767,LE SAMANA
20,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
21,Faanui,PF,78.26,broken clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
24,Shahdadkot,PK,85.44,broken clouds,27.8477,67.9055,Gold Star Baloch Hotel & Restaurant
27,Butaritari,KI,81.14,broken clouds,3.0707,172.7902,Isles Sunset Lodge
32,Chimoio,MZ,84.06,scattered clouds,-19.1164,33.4833,Residencial Dabhad
36,Mahebourg,MU,82.69,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
43,Kalabo,ZM,86.81,overcast clouds,-14.9700,22.6814,Sikakubete Guest House Kalabo Town Council

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [27]:
# In case of an empty DataFrame, load the sample data provided
#clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
#clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [29]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [31]:
# Review the formatting template provided
info_box_template = """
Hotel Name
{Hotel Name}

City
{City}
Country
{Country}
Weather Description
{Current Description}

Max Temp
{Max Temp} °F


"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [32]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\nHotel Name\nAuberge Angle Sur\n\nCity\nAbong Mbang\nCountry\nCM\nWeather Description\nscattered clouds\n\nMax Temp\n88.38 °F\n\n\n',
 '\nHotel Name\nOYO 1577 Hotel Shree Hari Grand\n\nCity\nPuri\nCountry\nIN\nWeather Description\nclear sky\n\nMax Temp\n84.72 °F\n\n\n',
 '\nHotel Name\nLE SAMANA\n\nCity\nMana\nCountry\nGF\nWeather Description\nbroken clouds\n\nMax Temp\n76.42 °F\n\n\n',
 '\nHotel Name\nKeleti Beach Resort\n\nCity\nVaini\nCountry\nTO\nWeather Description\nscattered clouds\n\nMax Temp\n77.16 °F\n\n\n',
 '\nHotel Name\nBora-Bora Pearl Beach Resort & Spa\n\nCity\nFaanui\nCountry\nPF\nWeather Description\nbroken clouds\n\nMax Temp\n78.26 °F\n\n\n',
 '\nHotel Name\nGold Star Baloch Hotel & Restaurant\n\nCity\nShahdadkot\nCountry\nPK\nWeather Description\nbroken clouds\n\nMax Temp\n85.44 °F\n\n\n',
 '\nHotel Name\nIsles Sunset Lodge\n\nCity\nButaritari\nCountry\nKI\nWeather Description\nbroken clouds\n\nMax Temp\n81.14 °F\n\n\n',
 '\nHotel Name\nResidencial Dabhad\n\nCity\nChimoio\nCountry\nMZ\nWeather Description\nscattered clouds\n\nMax Temp\n84.06 °F\n\n\n',
 '\nHotel Name\nShandrani Beachcomber Resort & Spa\n\nCity\nMahebourg\nCountry\nMU\nWeather Description\nscattered clouds\n\nMax Temp\n82.69 °F\n\n\n',
 '\nHotel Name\nSikakubete Guest House Kalabo Town Council\n\nCity\nKalabo\nCountry\nZM\nWeather Description\novercast clouds\n\nMax Temp\n86.81 °F\n\n\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [33]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
10   3.9833   13.1833
12  19.8000   85.8500
16   5.6592  -53.7767
20 -21.2000 -175.2000
21 -16.4833 -151.7500
24  27.8477   67.9055
27   3.0707  172.7902
32 -19.1164   33.4833
36 -20.4081   57.7000
43 -14.9700   22.6814

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [35]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Create a figure to add the Google map as a layer
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Display the figure containing the map
print(fig)

Figure(layout=FigureLayout(height='420px'))